* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}

.main {
  background-color: cornflowerblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.form-box {
  /* height: 380px; */
  width: 440px;
  border-radius: 15px;
  border: 0.1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

h2 {
  color: white;
  margin-top: 20px;
}

.form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 15px 20px;
  width: 380px;
  border-radius: 10px;
  border: none;
  transition: all 0.15s linear;
  outline: none;
}

input:focus {
  border-color: purple;
  box-shadow: 0 0 0 3px purple;
}

small {
  display: none;
  margin-top: 10px;
  color: white;
  font-size: 0.9rem;
  font-weight: lighter;
}

#email-inp {
  margin-top: 17px;
}

#pass-inp {
  margin-top: 20px;
}

#submit-btn {
  padding: 15px 170px;
  margin-top: 25px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  transition: all 0.15s linear;
  background-color: purple;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: rgb(115, 18, 115);
}

#submit-btn:active {
  background-color: purple;
}

.loading {
  display: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: white;
  margin-bottom: 20px;
  animation: spin 1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: rgb(255, 181, 240);
  text-decoration: none;
  font-size: 0.69rem;
  font-weight: lighter;
  margin-bottom: 20px;
}
